<html>
<head>
<style>

   body{
    text-align:center;
    margin-top: 50px;
    font-size: 15px;
    background-color:aqua;
   }

   h1{
    color:red;
   }

   h5{
    color:blue;
    background-color: aliceblue;
   }

   input[type="submit"]{
    background-color: rgb(26, 237, 26);
    color: aliceblue;
    margin: 4px;
   }
</style>
</head>

<!--##NO predefine-->
<body>
    <h1>Advance Calculator!</h1>  <br>
    <img width="20%" height="20%" src="{{url_for('static', filename='img.png') }} " /><br><br>
    <form method="POST">
        <label >Enter expression</label><br><br>
        <select class="is-focused is-large" name="operation" aria-label="operationDropdown">
            <option>Choose operation</option>
            <option value="simplify">Simplify</option>
            <option value="factor">Factor</option>
        </select>
    <input placeholder="Expression" name="text">
    <input type="submit">
</form>


    <p>Your equation is {{equation}} = {{ result }}</p><br><br><br><br>
    <footer><h5>Create By - H.DEEPESH BABU</h5></footer>
</body>
</html>
